.react-international-phone-country-selector-button {
  padding: 25px 0px 25px 15px;
}
.react-international-phone-input {
  padding: 25px 10px;
  width: 100%;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
}
